@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --blue: #18a0fb;
    --white: #ffffff;
    --grey: #ccc;
    --dark-blue: #24292E;
    --button: #115ABE;
    --tab: #525252;
  }

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}